<form #EditCustomer="ngForm">
	<div class="row" *ngIf="customer != null">
		<div class="col s12">
			<div class="card">
				<div class="card-content">
					<span class="card-title">Edit Customer</span>

					<div *ngIf="errorMessage != null" class="card-panel red darken-4">
						<p>Error:</p>
						<pre class="text-danger">{{ errorMessage }}</pre>
					</div>

					<div class="row">
						<div class="col s12 m6">
							<div class="row">
								<div class="col s12">
									<label for="name">Name</label>
									<input type="text" class="validate" [(ngModel)]="customer.name" name="name" required
										placeholder="Name" #name="ngModel" />
									<span class="helper-text" *ngIf="name.errors.required">Required</span>

								</div>
							</div>
							<div class="row">
								<div class="col s12">
									<label for="contactName">Contact Name</label>
									<input type="text" class="validate" [(ngModel)]="customer.contactName"
										name="contactName" placeholder="Contact" #contactName="ngModel" />
									<span class="helper-text" *ngIf="contactName.errors.required">Required</span>
								</div>
							</div>
							<div class="row">
								<div class="col s12">
									<label for="contactEmail">Contact Email</label>
									<input type="email" required class="validate" [(ngModel)]="customer.contactEmail"
										name="contactEmail" placeholder="Email" #contactEmail="ngModel" />
									<span class="helper-text"
										*ngIf="contactEmail.invalid && contactEmail.errors.required">Required</span>
									<span class="helper-text"
										*ngIf="contactEmail.invalid && contactEmail.errors.email">Invalid Email</span>
								</div>
							</div>
							<div class="row">
								<div class="col s12">
									<label for="contactEmail">Status</label>
									<select class="browser-default" [(ngModel)]="customer.statusId" name="statusId">
										<option *ngFor="let status of statuses" value="{{status.statusId}}">
											{{status.label}}</option>
									</select>
								</div>
							</div>
							<div class="row">
								<div class="col s12">
									<label for="created">Created</label>
									<input type="text" disabled [value]="customer.created | date:'medium'"
										name="created" placeholder="Created" />
								</div>
							</div>
							<div class="row">
								<div class="col s12">
									<label for="updated">Updated</label>
									<input type="text" disabled [value]="customer.updated | date:'medium'"
										name="updated" placeholder="Updated" />
								</div>
							</div>
						</div>


						<div class="col s12 m6">
							<div class="row">
								<div class="col s12">
									<label for="updated">Notes</label>
									<ul class="collection" *ngIf="customer.notes != null && customer.notes.length > 0">
										<li class="collection-item" customer-edit-note
											*ngFor="let note of customer.notes" [note]="note"></li>
									</ul>
								</div>
							</div>
							<a href="#" class="btn-floating right red" (click)="AddNote($event)"><i
									class="mdi mdi-plus"></i></a>
						</div>
					</div>

					<div class="card-action">
						<div class="col s12">
							<a href="#" (click)="Update($event)">Update</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="center-align" *ngIf="customer == null">
		<div class="card-panel">
			<p>Loading customer</p>
			<p>Please enjoy a portrait of my home.</p>
		</div>
	</div>
</form>
