<form [formGroup]="customerForm">
	<div class="row" *ngIf="customer != null">
		<div class="col s12">

			<mat-card fxFlex="500px" fxFlex.xs="100%">
				<mat-card-title>{{customer.name || "New Customer"}}</mat-card-title>
				<mat-card-content>
					<input formControlName="customerId" type="hidden">

					<mat-form-field>
						<mat-label>Name</mat-label>
						<input matInput formControlName="name">
						<mat-error *ngIf="hasError('name','required')">
							Name is <strong>required</strong>
						</mat-error>
					</mat-form-field>

					<mat-form-field>
						<mat-label>Contact Email</mat-label>
						<input matInput formControlName="contactEmail">
						<mat-error *ngIf="hasError('contactEmail', 'email') && !hasError('contactEmail', 'required')">
							Please enter a valid email address
						</mat-error>
						<mat-error *ngIf="hasError('contactEmail','required')">
							Email is <strong>required</strong>
						</mat-error>
					</mat-form-field>

					<mat-form-field>
						<mat-label>Contact Name</mat-label>
						<input matInput formControlName="contactName">
					</mat-form-field>

					<mat-form-field>
						<mat-label>Status</mat-label>
						<mat-select formControlName="status">
							<mat-option *ngFor="let status of statuses" [value]="status.statusId">
								{{status.label}}
							</mat-option>
						</mat-select>
					</mat-form-field>

					<mat-form-field>
						<mat-label>Created</mat-label>
						<input matInput disabled [value]="customer.updated">
					</mat-form-field>

					<mat-form-field>
						<mat-label>Updated</mat-label>
						<input matInput disabled [value]="customer.updated">
					</mat-form-field>
				</mat-card-content>
				<mat-card-actions>

				</mat-card-actions>
			</mat-card>

		</div>
	</div>
	<div class="center-align" *ngIf="customer == null">
		<div class="card-panel">
			<p>Loading customer</p>
			<p>Please enjoy a portrait of my home.</p>
		</div>
	</div>
</form>
