<mat-card>
	<mat-card-header>
		<mat-card-title>
			Customers
		</mat-card-title>
	</mat-card-header>
	<form>
		<mat-form-field>
			<mat-label>Search</mat-label>
			<input type="text" matInput [formControl]="search" (keydown.enter)="Search($event)">
			<mat-icon matSuffix>search</mat-icon>
		</mat-form-field>
	</form>
</mat-card>
<mat-card>
	<mat-nav-list>

		<a href="#" (click)="Sort($event, nameSort)">Name</a>
		<a href="#" (click)="Sort($event, statusSort)">Status</a>
		<a href="#" (click)="Sort($event, createdSort)">Created</a>
		<a href="#" (click)="Sort($event, updatedSort)">Updated</a>

		<mat-list-item *ngFor="let customer of customerList">
			<h3 matLine>{{customer.name}}</h3>
			<div matLine>{{customer.status.label}}</div>
			<div matLine>{{customer.created | date:'mediumDate'}}</div>
			<div matLine>{{customer.updated | date:'mediumDate'}}</div>

			<div class="col s1">
				<a href="/customer/{{customer.customerId}}"><i class="material-icons">edit</i></a>
			</div>
			<mat-divider></mat-divider>

		</mat-list-item>
	</mat-nav-list>
</mat-card>
<div style="position: fixed;bottom: 3em;right: 3em;">
	<a mat-fab color="warn" routerLink="/customer/0">
		<mat-icon>add</mat-icon>
	</a>
</div>
