body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

.body-flex {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

.row.row-compact {
	margin-bottom: 0;
}

ul.collection.with-header li.collection-item:hover {
	background-color: #EFFAFF;
}
