<propellerhead-crm-app class="body-flex">
	<header>
		<nav>
			<div class="nav-wrapper blue-grey darken-3">
			</div>
		</nav>
	</header>
	<main class="light-blue lighten-3">
		<div class="container center-align">
			<p>Loading Portfolio CRM</p>
			<p>
				Please enjoy a portrait of my home.
			</p>
		</div>
	</main>
	<footer class="page-footer light-green darken-2">
		<div class="footer-copyright">
			<div class="container">
				&copy; 2018 BoutinFlegel
			</div>
		</div>
	</footer>
</propellerhead-crm-app>
